<h4>result 1 (hello): {{result1}}</h4>
<h4>result 2 (hi): {{result2}}</h4>
<h4>result 3 (add 1+2): {{result3}}</h4>
<h4>result 4 (sub 1-2): {{result4}}</h4>
<h4>result 5 (mul 1*2): {{result5}}</h4>
<h4>result 6 (div 1/2): {{result6}}</h4>
<h4>result 7 (area 2*3): {{result7}}</h4>
<h4>result 8 (perimeter 2+3)*2: {{result8}}</h4>
<h4>product: <br>
  id: {{result9.id}} <br>
  name: {{result9.name}} <br>
  description: {{result9.description}} <br>
  price: {{result9.price}} <br>
  quantity: {{result9.quantity}} <br>
  <img [src]="result9.photo" [height]="100" alt="Dave"> <br>
  status: {{result9.status ? "available" : "unavailable"}} <br> 
</h4>
